html {
	overflow-x: hidden;
}

body {
	font-family: "Inter", sans-serif;
	margin: 0;
	padding: 0;
	line-height: 160%;
}

.container {
	width: 100%;
	max-width: 1760px;
	margin: 0 auto;

	&_2 {
		max-width: 1280px;
		width: 100%;
		margin: 0 auto;
	}
}

.header {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
	padding-top: 24px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.nav {
	&__link {
		font-size: 16px;
		display: inline-block;
		vertical-align: top;
		margin: 10px 16px;
		color: #ffffff;
	}

	&__log {
		font-size: 16px;
		font-weight: 600;
		color: #5a46d5;
		background-color: #e5deff;
		border: none;
		border-radius: 35px;
		padding: 12px 20px;
		cursor: pointer;
	}
}

.intro {
	display: flex;
	position: relative;
	flex-direction: column;
	// justify-content: center;

	width: 100%;
	height: 100vh;

	background: url("../img/intro/intro.png") center no-repeat;
	background-size: cover;

	&__inner {
		width: 100%;
		max-width: 918px;
		margin: 0 auto;

		text-align: center;
	}

	&__title {
		font-family: NexaBold;
		font-size: 80px;
		color: #ffffff;
		margin: 0 auto;
		margin-top: 120px;
		line-height: 96px;
	}

	&__subtitle {
		color: #cad4e8;
		font-size: 20px;
		margin: 0 auto;
		width: 622px;
		line-height: 160%;
		margin-top: 5px;
	}

	&__input {
		color: #667389;
		background-color: #f8fafb;
		border: 1px solid #f8fafb;
		width: 618px;
		font-size: 20px;
		margin: 0 auto;
		border-radius: 30px;
		padding: 16.5px 26px;
		margin-top: 20px;
	}

	&__submit {
		padding: 16px 22.5px;
		border-radius: 30px;
		font-weight: 700;
		font-size: 18px;
		position: absolute;
		transform: translate3d(-101%, 42.5%, 0);
		color: #5a46d5;
		background-color: #e5deff;
		border: none;
		cursor: pointer;
	}

	&__template {
		margin-top: 50px;
		text-align: center;
		border-radius: 242px;
	}
}

.footer {
	background-color: #354254;
	&__inner {
		display: flex;
		// height: 364px;
	}

	&__col {
		display: block;

		&--first {
			width: 25%;
			margin-top: 60px;
		}

		&--second {
			width: 25%;
			margin-top: 60px;
			p {
				margin-bottom: 32px;
                &:last-child {
                    margin-bottom: 40px;
                }
			}
		}
		&--third {
			width: 50%;
			margin-top: 70px;
		}
	}
	&__features {
		color: #ffffff;
		font-family: Inter;
		font-size: 16px;
	}

	&__netw {
		margin-top: 58px;

		&--1 {
			margin-right: 12px;
		}
	}

    &__subtitle {
        font-family: NexaBold;
        color: #FFFFFF;
        font-size: 24px;
    }

	&__copyright {
		text-align: center;
        color: #8694AB;
        padding: 24px;
	}
}
