*{
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 160%;

}

.container {
  width: 100%;
  max-width: 1760px;
  margin: 0 auto;
}

.container_2 {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding-top: 24px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  margin: 10px 16px;
  color: #ffffff;
}

.nav__log {
  font-size: 16px;
  font-weight: 600;
  color: #5a46d5;
  background-color: #e5deff;
  border: none;
  border-radius: 35px;
  padding: 12px 20px;
  cursor: pointer;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: url("../../img/intro.png") center no-repeat;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 918px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  font-family: NexaBold;
  font-size: 80px;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 120px;
  line-height: 96px;
}

.intro__subtitle {
  color: #cad4e8;
  font-size: 20px;
  margin: 0 auto;
  width: 622px;
  line-height: 160%;
  margin-top: 5px;
}

.intro__input {
  color: #667389;
  background-color: #f8fafb;
  border: 1px solid #f8fafb;
  width: 618px;
  font-size: 20px;
  margin: 0 auto;
  border-radius: 30px;
  padding: 16.5px 26px;
  margin-top: 20px;

}

.intro__submit {
  padding: 16px 22.5px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  right: 14px;bottom: 2px;
  color: #5a46d5;
  background-color: #e5deff;
  border: none;
  cursor: pointer;
}
.r{
  right: 153px;
}
.intro__template {
  margin-top: 50px;
  text-align: center;
  border-radius: 242px;
}
.intro__form{
  position: relative;
}
.footer {
  background-color: #354254;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__col {
  display: block;
}

.footer__col--first {
  width: 25%;
  margin: 60px 0 0 20px;

}

.footer__col--second {
  width: 25%;
  margin-top: 60px;
}

.footer__col--second p {
  margin-bottom: 32px;
}

.footer__col--second p:last-child {
  margin-bottom: 40px;
}

.footer__col--third {
  width: 50%;
  margin-top: 70px;
}

.footer__features {
  color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  cursor: pointer;
}

.footer__netw {
  margin-top: 58px;
}

.footer__netw--1 {
  margin-right: 12px;
  cursor: pointer;
}
.footer__netw--2{
  cursor: pointer;
}
.footer__subtitle {
  font-family: NexaBold;
  color: #FFFFFF;
  font-size: 24px;
}

.footer__copyright {
  text-align: center;
  color: #8694AB;
  padding: 24px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 15px;
}

.platform {
  display: flex;
  justify-content: center;
  align-items: center;

}
.platform-video{
  max-width: 100%; 
}
.platform-video video{
  width: 100%;
}


.platform-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.platform-content h2 {
  font-family: NexaBold;
  padding-top: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  margin-bottom: 0;
}
.platform-content p {
  padding-bottom: 70px;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #667389;
  width: 686px;
}
.platform-content .platform-text__img {
  width: 620px;
}
.platform-content .platform-text__img img {
  width: 100%;
}
.platform-content .platform-search {
  width: 1280px;
  padding-bottom: 173px;
}
.platform-content .platform-search img {
  width: 100%;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.features-content__text {
  margin-left: 250px;
}
.features-content__text h2 {
  font-family: NexaBold;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 120%;
}
.features-content__text p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #667389;
  width: 420px;
}

.last {
  margin-right: 250px;
  margin-left: 0;
}

.features-img {
  width: 800px;
}
.features-img img {
  width: 100%;
}

.ppp {
  margin-right: 200px;
}

.features-cards__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-cards__content:nth-child(2n) {
  padding-top: 100px;
  margin-bottom: 100px;
}

.features-card {
  text-align: center;
  width: 400px;
}
.features-card h3 {
  font-family: NexaBold;
  padding-top: 13px;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  text-align: center;
  color: #354254;
}
.features-card p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #8694AB;
}

.team {
  background: url("../../img/team_back.png");
  text-align: center;
}

.team-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 180px;
}
.team-photos div {
  padding: 0 44px;
}

.team-content h3 {
  padding-top: 120px;
  font-family: NexaBold;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  text-align: center;
  color: #FFFFFF;
}
.team-content p {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #F8FAFB;
}
.team-content p:last-child {
  padding-bottom: 55px;
}
/*# sourceMappingURL=style.css.map */